/* colorscheme */
/* new scheme
#e4ba4a goldenrod - yellow
#cb5d33 peru - orange
#293a4b dark slate gray
#418790 steel blue - medium blue
#55a9a1 cadet blue - light blue
*/

@define-color container rgba(0, 0, 0, 0.0);
@define-color primary-background #55a9a1;
@define-color secondary-background #418790;
@define-color primary-text #293a4b;
@define-color highlight #cb5d33;
@define-color secondary-highlight #e4ba4a;

* {
    border:        none;
    border-radius: 0;
    font-family:   "{{ font }}", "Font Awesome 5 Free Regular", "Font Awesome 5 Free Solid", "Font Awesome 5 Brands";
    font-size:     14px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

window {
    background: @container;
}

#workspaces, #mode, #window, #pulseaudio, #backlight, #network, #custom-vpn, #battery, #clock, #custom-pkg {
    background: @primary-background;
    color: @primary-text;
}

#workspaces button {
	padding: 0 10px;
 }

#workspaces button.visible{
    color: @highlight;
}
#workspaces button.focused {
    color: @highlight;
}
#workspaces button.urgent {
    color:      @secondary-highlight;
}

#mode, #battery, #cpu, #memory, #network, #pulseaudio, #backlight, #custom-backup, #custom-pkg, #custom-storage, #custom-vpn, #custom-zfs-trim, #custom-zfs-scrub, #custom-systemd, #temperature, #clock {
    padding:     0px 8px 0px 8px;
}

#tray, #custom-spotify {
    margin:     0px 0px 0px 16px;
}


#custom-right-arrow-dark, #custom-left-arrow-dark {
    color: @primary-background;
		font-size: 24;
}

